body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
  width: 100%;
}

.hr_class {
  margin: 0;
  padding: 0; 
}


.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 27px;
  height: 20px;
  float: left;
  margin-right: 13px;
  opacity: 0.9;
  font-size: 80%
}